<div class="field-row{{#if isStacked}}-stacked{{/if}}">
	{{#if label}}
		<label>{{label}}</label>
	{{/if}}
	<input
		{{#if type}} type="{{type}}" {{/if}}
		{{#if className}} class="{{className}}" {{/if}}
		{{#if name}} name="{{name}}" {{/if}}
		{{#if value}} value="{{value}}" {{/if}}
	>
</div>
