<div class="field-row{{#if isStacked}}-stacked{{/if}}">
	{{#if label}}
	<label for="{{id}}">{{label}}</label>
	{{/if}}
	<input
		type="{{type}}"
		id="{{id}}"
		value="{{value}}"
		{{#if name}} name="{{name}}" {{/if}}
	>
</div>
