<div class="sign-up-container">
	<div>
		<div class="logo"></div>
	</div>
	<div>
		<p>Введите логин и пароль для регистрации.</p>
		<div class="inputs">
			{{{nameLine}}}
			{{{surnameLine}}}
			{{{emailLine}}}
			{{{phoneLine}}}
			{{{loginLine}}}
			{{{passwordLine1}}}
			{{{passwordLine2}}}
		</div>
		<div class="buttons">
			{{{buttonSubmit}}}
			{{{buttonCancel}}}
		</div>
	</div>
</div>