<div class="error" id="{{id}}">
	<div class="title">{{title}}</div>
	{{#if subtitle}}
		<div class="subtitle">{{subtitle}}</div>
	{{/if}}
	{{#if subtitle}}
		<div class="description">{{{description}}}</div>
	{{/if}}
	{{{button}}}
</div>