<div class="window error" id="{{id}}">
	<div class="title-bar">
		<div class="title-bar-text">{{title}}</div>
		{{#if closeButton}}
			<div class="title-bar-controls">
				<button aria-label="Close" id="{{id}}_windowCloseButton"></button>
			</div>
		{{/if}}
	</div>
	<div class="window-body">
		<div class="error-container">
			<div class="logo"></div>
			<div>
				<p>{{description1}}</p>
				<p>{{{description2}}}</p>
			</div>
		</div>
		{{#if closeButton}}
			<div class="error-container">
				{{{closeButton}}}
			</div>
		{{/if}}
	</div>
</div>
